@import url("https://fonts.googleapis.com/css?family=Fredoka:wght@300..700&display=swap|Yaldevi:400");

:root {
  /* Text */
  --text-heading: #173753;
  --text-body: #173753;
  --text-inverse: #fcf7f8;

  /* Fundaluri */
  --bg-default: #ffeac3;
  --bg-muted: #ffd488;

  /* Borduri / separatoare */
  --border: #e0e4e8;

  /* Paleta principală (logo) */
  --primary: #068d9d;
  --primary-hover: #089faf;

  --secondary: #ffd488;

  /* Accente suplimentare */
  --accent: #d17a00;

  scroll-padding-top: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 140%;
}

body {
  font-family: "Yaldevi";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: clip;
  max-width: 100vw;
  background-color: var(--bg-default);
}

main {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
  max-width: 100vw;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.sections {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 0 15%;
}

.sections:nth-child(even) {
  background-color: var(--bg-muted);
}

p,
details,
summary {
  z-index: 1;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover,
p:hover > a {
  color: var(--accent);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fredoka";
  font-weight: 700;
  z-index: 1;
  color: var(--text-heading);
}

p {
  color: var(--text-body);
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}
a:visited {
  color: var(--text-dark);
}

/* -------- START Navbar -------- */
header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--secondary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3rem;
  max-width: 100vw;
  padding: 1rem 3rem;
  background-color: var(--secondary);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
}

.nav-text {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: row;
}

.nav-text a {
  float: left;
  display: flex;
  flex-direction: row;
  text-wrap-mode: nowrap;
  text-decoration: none;
}

.nav-text a:hover {
  color: var(--accent);
}
a.closebtn,
.menu-button {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-text {
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--secondary);
    overflow-x: hidden;
    padding-top: 10vw;
    transition: 0.5s;
  }
  .menu-button {
    display: block;
  }
  .nav-text .closebtn {
    display: block;
    position: absolute;
    top: 0;
    left: 2vw;
    font-size: 300%;
    margin-left: 5vw;
    color: var(--text-dark);
  }
  .nav-text {
    padding-top: 1rem;
  }
  .nav-text a {
    font-size: 140%;
    text-wrap-mode: wrap;
  }
}

/* -------- END Navbar-------- */

/* -------- START Hero -------- */

#hero {
  justify-content: space-evenly;
  flex-direction: row;
}
#globe-hero {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 10vw 50%;
}
.global-half-hero {
  height: 100vh;
  width: 40vw;
}
.hero-text {
  width: 50vw;
}

/* -------- END Hero-------- */

/* -------- START Globe -------- */

.globe {
  width: 40vw;
  pointer-events: none;
  z-index: 0; /* behind navbar */
}

/* -------- END Globe -------- */

/* -------- START About -------- */
#about {
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  justify-content: space-between;
}

#globe-about {
  width: 100vw;
  height: 55vh;
  object-fit: cover;
  object-position: 0% 0%;
}
.globe-half-about {
  width: 100vw;
}
.about-container {
  padding-top: 3rem;
}
/* -------- END About-------- */

/* -------- START Services -------- */
details {
  overflow: hidden;
  width: 30vw;
  text-align: justify;
}
summary {
  display: block;
  background-color: var(--primary);
  color: var(--text-inverse);
  border-radius: 2vw;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}

.service-span {
  display: flex;
  align-items: center;
}
.service-span::before {
  content: url(../assets/package.svg);
  zoom: 140%;
  position: relative;
}

details[open] .service-span::before {
  content: url(../assets/package-open.svg);
  zoom: 140%;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  align-self: start;
  gap: 2vw;
}

#services {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#globe-services {
  margin-right: 3rem;
}

/* -------- END Services -------- */

/* -------- START Contact -------- */
#package {
  width: 40rem;
  padding-top: 3rem;
}
#contact {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-self: start;

  padding-top: 3rem;
}
/* -------- END Contact -------- */

/* -------- START Footer -------- */

/* -------- END Footer -------- */

/* -------- START Keyframes -------- */
@keyframes globe-hero-animation {
}

@keyframes globe-about-animation {
}

@keyframes globe-services-animation {
}

@keyframes box-contact-animation {
}
/* -------- END Keyframes -------- */

@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
  .nav-logo {
    width: 45vw;
  }
  .hero-text {
    width: 40vh;
    z-index: 1;
  }
  .global-half-hero {
    width: 10vw;
    translate: -600%;
    z-index: 0;
  }
  .global-half-hero#globe-hero {
    z-index: 0;
    object-position: -50% 50%;
  }
  .about-container :not(h2) {
    text-align: justify;
  }
  #globe-about {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: 0% 0%;
  }

  .about-2 {
    display: none;
  }
  .sections {
    padding: 0 5%;
  }
  #globe-services {
    display: none;
  }
  details {
    width: 85vw;
  }
  .services-container {
    gap: 5vh;
  }
  summary {
    border-radius: 10vw;
  }
  #package {
    width: 50vh;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  #globe-about {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: 0% 0%;
  }
  #globe-services {
    display: none;
  }
  details {
    width: 70vw;
  }
  .services-container {
    gap: 5vh;
  }
  .about-2 {
    display: block;
  }
  #about > h2 {
    padding-bottom: 3vh;
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .hero-text {
    width: 70vw;
  }
  summary {
    border-radius: 10vw;
  }
  .nav-logo {
    width: 30vw;
  }
}
